
<form action="/formCatcher"  method="POST" >
        <input type="text" name="username" value="Hakim Bensiali" /><br/>
    <textarea name="message" >
    </textarea>
    <br/>
    <input type="submit" value="Send to chat" />
</form>